.main {
  max-width: 90rem;
  margin: 3rem auto;
  padding: 0 1rem;
  background-color: var(--background-background);
}

.mainPartialWidth {
  max-width: 40.5rem;
}

@media screen and (min-width: 810px) {
  .main {
    margin: 6rem auto;
  }
}

@media screen and (min-width: 1438px) {
  .main {
    margin: 10rem auto;
  }
}
