.image {
  border-radius: 100%;
  display: none;
}

@media screen and (min-width: 500px) {
  .image {
    display: block;
  }
}

.subtitle {
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1.2em;
  letter-spacing: 0.03125rem;
}

@media screen and (max-width: 500px) {
  .subtitle {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.2em;
    letter-spacing: 0.03125rem;
  }
}
