
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.5rem 0.6875rem;
    border: 2px solid var(--border-primary);
    border-radius: 6.25rem;
    color: var(--text-primary);
    text-decoration: none;
    max-width: fit-content;
    transition: all .2s ease-in;
    background-color: transparent;
}

.primary {
    background-color: var(--background-surface-02);
    border-color: var(--background-surface-02);
    color: var(--text-inverted);

    &:hover {
        background-color: transparent;
        color: var(--text-secondary);
    }

    &:active {
        font-weight: 600;
        border-color: var(--border-primary);
    }
}

.secondary {
    background-color: transparent;
    &:hover {
        border-color: var(--background-surface-02);
    }

    &:active {
        font-weight: 600;
    }
}