.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem 0.6875rem;
  border: 2px solid var(--border-primary);
  border-radius: 6.25rem;
  color: var(--text-primary);
  text-decoration: none;
  max-width: fit-content;
  transition: all 0.2s ease-in;
  background-color: transparent;
}

.primary {
  background-color: var(--background-surface-02);
  border-color: var(--background-surface-02);
  color: var(--text-inverted);
}

.primary:hover {
  background-color: transparent;
  color: var(--text-secondary);
}

.primary:active {
  font-weight: 600;
  border-color: var(--border-primary);
}

.primary:focus {
  outline-offset: 0.2rem;
  outline: 1px solid #0f62fe;
}

.secondary {
  background-color: transparent;
}

.secondary:hover {
  border-color: var(--background-surface-02);
  color: var(--text-primary);
}

.secondary:active {
  font-weight: 600;
}
