.cta {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  max-width: 40.5rem;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 1.2rem;
  display: flex;
  text-align: left;
  background-color: var(--border-accent);
  border-color: var(--text-highlight);
  align-items: flex-start;
  gap: 1.5rem;
}

.cta a:hover {
  border-color: var(--text-highlight);
}

@media (prefers-color-scheme: light) {
  .cta {
    background-color: var(--background-surface-02);
    border-color: var(--text-highlight);
  }
}
