.cta {
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 1.2rem;
  display: flex;
  text-align: left;
  background-color: var(--border-accent);
  border-color: var(--text-highlight);
  align-items: flex-start;
  gap: 1.5rem;
}

@media (prefers-color-scheme: light) {
  .cta {
    margin: 3rem auto;
    padding: 2rem;
    border-radius: 1.2rem;
    display: flex;
    text-align: left;
    background-color: var(--background-surface-02);
    border-color: var(--text-highlight);
    align-items: flex-start;
    gap: 1.5rem;
  }
}
