.collapse {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border: 2px solid var(--border-accent);
  background-color: var(--background-surface-01);
  border-radius: 1rem;
  transition: all 0.4s ease;
}

.collapse:hover,
.collapse:focus {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-color: var(--border-primary);
  transform: scale(1.03);
}

.collapse img {
  opacity: 1;
  transition: all 0.3s ease;
}

.collapse:hover img,
.collapse:focus img {
  opacity: 0.64 !important;
}

.detailsContent {
  padding: 0 2rem 2rem;
}

.summary {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.summary::marker {
  content: '';
}
