/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
  --background-background: #0d0d0d;
  --background-surface-01: #0c0c0c;
  --background-surface-02: #393939;
  --background-inverse: #f4f4f4;
  --text-primary: #eaeaea;
  --text-secondary: #9d9d9d;
  --text-inverted: #0d0d0d;
  --text-highlight: #be95ff;
  --border-primary: #393939;
  --border-accent: #161616;
  --link-primary: #78a9ff;
  --link-primary-hover: #a6c8ff;
  --focus-outline: #0f62fe;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-background: #f4f4f4;
    --background-surface-01: #ffffff;
    --background-surface-02: #e0e0e0;
    --background-inverse: #393939;
    --text-primary: #161616;
    --text-secondary: #525252;
    --text-inverted: #ffffff;
    --text-highlight: #8a3ffc;
    --border-primary: #7a7a7a;
    --border-accent: #161616;
    --link-primary: #0f62fe;
    --link-primary-hover: #0043ce;
    --focus-outline: #0f62fe;
  }
}

body {
  background-color: var(--background-background);
  color: var(--text-primary);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

strong {
  font-weight: 600;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: var(--link-primary);
}

a:hover {
  color: var(--link-primary-hover);
}

/* override for dracula system to make accessible */
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #6a7cb5 !important;
}

/*  Start of Shiki Twoslash CSS:

Code blocks structurally look like: 

<pre class='shiki lsp twoslash [theme-name]'>
  <div class='language-id'>[lang-id]</div>
    <div class='code-container'>
      <code>[the code as a series of spans]</code>
      <a href='playground...'>Try</a> (optional)
    </div>
  </pre> 
*/

pre {
  /* Give it some space to breathe */
  padding: 12px;
  border-radius: 8px;

  font-family: var(--font-code);
}
pre.shiki {
  overflow-x: auto;
}
pre.shiki:hover .dim {
  opacity: 1;
}
pre.shiki div.dim {
  opacity: 0.5;
}
pre.shiki div.dim,
pre.shiki div.highlight {
  margin: 0;
  padding: 0;
}
pre.shiki div.highlight {
  opacity: 1;
  background-color: #f1f8ff;
}
pre.shiki div.line {
  min-height: 1rem;
}

/** Don't show the language identifiers */
pre.shiki .language-id {
  display: none;
}

/* Visually differentiates twoslash code samples  */
pre.twoslash {
  border-color: #719af4;
}

/** When you mouse over the pre, show the underlines */
pre.twoslash:hover data-lsp {
  border-color: #747474;
}

/** The tooltip-like which provides the LSP response */
pre.twoslash data-lsp:hover::before {
  content: attr(lsp);
  position: absolute;
  transform: translate(0, 1rem);

  background-color: #3f3f3f;
  color: #fff;
  text-align: left;
  padding: 5px 8px;
  border-radius: 2px;
  font-size: 14px;
  white-space: pre-wrap;
  z-index: 100;
}

pre .code-container {
  overflow: auto;
}
pre code {
  font-size: 15px;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
}
