
.title {
    font-weight: 200;

    font-size: 2rem;
    line-height: 2.5rem;

    @media only screen and (min-width: 810px) {
        font-size: 2.5rem;
        line-height: 3.4rem;
    }

    @media only screen and (min-width: 1438px) {
        font-size: 3.0rem;
        line-height: 3.9rem;
        letter-spacing: 0.08rem;
    }
}

.subtitle {
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1.2em;
    letter-spacing: 0.03125rem;
}

.sectionTitle {
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: 0.03125rem;
    line-height: 2rem;
}

.body {
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.03125rem;
    line-height: 1.75rem;
}

.small {
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 0.009375rem;
    line-height: 1.75em;
}

.primary {
    color: var(--text-primary);
}

.secondary {
    color: var(--text-secondary);
}

.inverted {
    color: var(--text-inverted);
}

.background { 
    background: var(--background-background);
}

.surface-01 {
    background: var(--background-surface-01);
}

.surface-02 {
    background: var(--background-surface-02);
}

.transparent {
    background: transparent;
}